<div class="flex flex-col">

    <!-- header -->
    <div>
        <div class="text-right">
            <button (click)="logout()" class="py-2 px-4 rounded cursor-pointer">Logout</button>
        </div>
        <h4 class="font-bold mb-4 txt-accent">Admin dashboard</h4>
    </div>

    <div class="col-12 flex">
        <!-- categories list -->
        <div class="col-2 pt-3 h-full rounded-md block bg-accent-light">
            <ul>
                <li><a routerLink="/admin-dashboard/admin-settings">Settings</a></li>
                <li><a routerLink="/admin-dashboard/admin-users">Users</a></li>
                <li><a routerLink="/admin-dashboard/admin-teams">Teams</a></li>
            </ul>
        </div>

        <!-- content area -->
        <div class="col-10 block">
            <router-outlet></router-outlet>
        </div>        
    </div>

</div>